
*.stash
*.o
QmlPluginDemo(Debug)/Main.exe
*.user
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/Main_resource.rc
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/Makefile
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/Makefile.Debug
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/Makefile.Release
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/object_script.Main.Debug
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/object_script.Main.Release
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/qml_qmlcache.qrc
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/BackgroundColorDelegate_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/BackgroundImageDelete_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/BackgroundMrgView_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/CommonTitleBar_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/ContentWidget_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/FontButton_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/ImageButton_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/LabelBtn_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/main_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/MainWidget_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/MainWindowStatusBar_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/MainWindowTitleBar_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/moc_predefs.h
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/moc_resizeqmlwindow.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/moc_systemconfiginfo.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/qmlcache_loader.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/qrc_qml_qmlcache.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/ResizeWidget_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Main/release/ToolBtn_qml.cpp
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release/Makefile
