build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Debug
build-QmlPluginDemo-Desktop_Qt_5_11_1_MinGW_32bit-Release
QmlPluginDemo(Debug)
QmlPluginDemo(Release)
*.stash
*.o
*.user
*.qmlc
QmlPluginDemo(Release)/Main.exe
QmlPluginDemo(Release)/Main.exe
